html,body{
    padding: 0;
    margin: 0;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    /* width: 100%; */
    /* max-width: 1242px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header{
    /* background-color:gainsboro; */

}
.left-container, .right-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.brand{
    max-width: 100px;
    margin-left: 22px;
}
.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
}
.nav-item.active{
    color: white;
    opacity: 1;
}
.nav-item{
    color: #e5e5e5;
    margin: 20px;
    opacity: .83;
    cursor: pointer;
}
.right-container img{
    max-width: 40px;
    margin-right: 22px;
    color: white;
    cursor: pointer;
}



 /* Mobile Responsive */